header {
  height: 36px;
  background: #f2f2f2;
}

header .header {
  height: 36px;
  width: 96%;
  margin: 0 auto;
}

header .header .shop {
  float: left;
  font-size: 18px;
  line-height: 36px;
  color: black;
}

header .header div {
  float: right;
  font-size: 15px;
}

header .header div .index {
  line-height: 36px;
  color: black;
}

header .header div i {
  font-size: 15px !important;
  color: black;
  line-height: 36px;
}

nav {
  color: #363636;
  background: #fff;
}

nav .nav {
  height: 64px;
  width: 96%;
  margin: 0 auto;
  border-bottom: 2px solid #e5e5e5;
}

nav .nav li:nth-child(1) {
  margin-left: 0;
}

nav .nav li {
  float: left;
  margin: 0 16px;
  font-size: 15px;
  box-sizing: border-box;
  z-index: 100;
}

nav .nav .logo {
  width: 130px;
  height: 64px;
  padding: 0;
  position: absolute;
  left: 50%;
  margin-left: -65px;
}

nav .nav img {
  display: block;
  width: 100%;
  position: relative;
  top: 21px;
}

nav .nav .left {
  float: left;
  line-height: 64px;
}

nav .nav .right {
  float: right;
}

nav .nav .right a {
  color: #363636;
  font-size: 15px;
  line-height: 64px;
}

nav .nav i {
  font-size: 15px !important;
  font-weight: bold;
  line-height: 64px;
}

nav .bar {
  width: 100%;
  background: #fff;
  padding: 30px;
  overflow: hidden;
  box-sizing: border-box;
}

nav .bar .l {
  float: left;
  width: 50%;
}

nav .bar .l ol {
  overflow: hidden;
}

nav .bar .l ol li {
  float: left;
  width: 100px;
  padding: 0 23px;
  text-align: center;
}

nav .bar .l ol li img {
  width: 100px;
  height: 100px;
}

nav .bar .l ol li p {
  width: 100px;
  margin-bottom: 0;
  margin-top: 12px;
  font-size: 13px;
  color: #363636;
  line-height: 18px;
}

nav .bar .r {
  float: left;
  width: 40%;
  border-left: 1px solid #e5e5e5;
}

nav .bar .r dl {
  float: left;
  width: 33%;
  margin-left: 30px;
}

nav .bar .r dt {
  margin-bottom: 18px;
}

nav .bar .r dt a {
  font-size: 15px;
  color: #363636;
  line-height: 18px;
}

nav .bar .r dd {
  margin-bottom: 9px;
}

nav .bar .r dd a {
  color: #5f5f5f;
  font-size: 13px;
}

.link {
  background: #f5f5f5;
}

.link .link1 {
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
}

.link .link1 .left {
  float: left;
  padding-top: 36px;
  overflow: hidden;
  width: 70%;
}

.link .link1 .left dl {
  float: left;
  width: 33.3%;
}

.link .link1 .left dl a {
  color: #333;
  font-size: 14px;
}

.link .link1 .left dl a i {
  font-size: 14px !important;
  font-weight: bold;
}

.link .link1 .left dl dt {
  font-weight: bold;
  line-height: 30px;
}

.link .link1 .left dl dd {
  line-height: 24px;
}

.link .link1 .right {
  padding-top: 24px;
  width: 30%;
  float: right;
}

.link .link1 .right p {
  color: #333;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 20px;
}

.link .link1 .right div {
  padding-left: 21%;
}

.link .link1 .right i {
  font-size: 40px !important;
  color: #333;
}

.link h6 {
  font-weight: normal;
  clear: both;
  font-size: 14px;
  color: #333;
  padding: 30px 0 28px 0;
}

footer {
  background: #525252;
}

footer .footer {
  padding: 28px 0;
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
}

footer .footer .left {
  float: left;
  width: 60%;
}

footer .footer .left ul {
  overflow: hidden;
}

footer .footer .left ul li {
  float: left;
  margin-right: 25px;
  margin-bottom: 14px;
}

footer .footer .left ul li a {
  color: #fff;
  font-size: 12px;
}

footer .footer .left p {
  font-size: 12px;
  color: #ccc;
  line-height: 14px;
  margin-bottom: 0;
  margin-top: 14px;
}

footer .footer .right {
  float: left;
  width: 40%;
}

footer .footer .right p {
  width: 280px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  padding-bottom: 9px;
}

footer .footer .right span a:nth-child(1) {
  margin-left: 0;
}

footer .footer .right span a {
  color: #fff;
  font-size: 12px;
  margin: 0 15px;
}

main {
  padding-bottom: 50px;
}

main .main {
  width: 96%;
  margin: 0 auto;
  overflow: hidden;
}

main .main .left {
  float: left;
  width: 50%;
  position: relative;
}

main .main .left .big {
  display: none;
  width: 500px;
  height: 500px;
  background: #ff0;
  position: absolute;
  left: 500px;
  top: 0;
  overflow: hidden;
}

main .main .left .big img {
  width: 250%;
  height: 250%;
  position: absolute;
  left: 0;
  top: 0;
}

main .main .left ul {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

main .main .left ul .small {
  display: none;
  width: 200px;
  height: 200px;
  background: #fff;
  opacity: .3;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: 1px 1px 3px 1px #000;
}

main .main .left ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .main .left ul li img {
  width: 100%;
}

main .main .left button {
  float: left;
}

main .main .left .show {
  margin-top: 20px;
  float: left;
  width: 80%;
  overflow: hidden;
}

main .main .left .show ol {
  overflow: hidden;
  width: 100%;
}

main .main .left .show ol li {
  float: left;
  width: 14.28%;
}

main .main .left .show ol li img {
  width: 100%;
}

main .main .right {
  float: left;
  width: 50%;
}

main .main .right h1 {
  font-size: 33px;
  font-weight: normal;
}

main .main .right .color,
main .main .right .ram,
main .main .right .version,
main .main .right .price {
  overflow: hidden;
}

main .main .right .color p,
main .main .right .ram p,
main .main .right .version p,
main .main .right .price p {
  float: left;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

main .main .right .color div,
main .main .right .ram div,
main .main .right .version div,
main .main .right .price div {
  width: 80%;
  float: left;
}

main .main .right .color div button,
main .main .right .ram div button,
main .main .right .version div button,
main .main .right .price div button {
  float: left;
  display: block;
  font-size: 14px;
  border: 1px solid #ddd;
  margin: 7px 8px;
  width: 145px;
  padding: 9px 30px;
  text-align: center;
  background: #fff;
}

main .main .right .color div button span,
main .main .right .ram div button span,
main .main .right .version div button span,
main .main .right .price div button span {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  margin-right: 3px;
}

main .main .right .price {
  margin-bottom: 50px;
  margin-top: 10px;
}

main .main .right .price div {
  background: #f8f8f8;
  padding: 10px;
}

main .main .right .price div h1 {
  float: right;
  font-size: 33px;
  line-height: 33px;
  font-weight: bold;
}

main .main .right .price div span {
  font-size: 16px;
  color: #333;
  float: left;
  width: 40%;
  font-weight: bolder;
}

main .main .right a {
  float: left;
  font-weight: bold;
  display: block;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  padding: 0;
  border: 0;
  margin: 0;
  color: #222;
  border-radius: 0;
  font-size: 24px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 24px;
  min-width: 100px;
  height: 48px;
  line-height: 48px;
  width: 200px;
}

main .main .right .new {
  background: #2f0d9b;
  color: #fff;
  margin-right: 5px;
}

main .main .right .new:hover {
  background: #fff;
  color: #2f0d9b;
}

main .main .right .shop:hover {
  background: #000;
  color: #fff;
}

section img {
  width: 100%;
}

.selected {
  color: #1428a0;
  border-bottom: 2px solid #1428a0;
}

.back {
  display: none;
  text-align: center;
  width: 54px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 999;
  background: #eaeef1;
}

.back i {
  color: #797c8b;
  font-size: 30px;
  line-height: 54px;
}
