header {
  background: #fff;
  border-bottom: 1px solid #eee;
}

header .header {
  width: 96%;
  margin: 0 auto;
  padding: 21px 0;
}

header .header img {
  width: 130px;
}

header .header .right {
  float: right;
}

header .header .right li {
  float: left;
}

header .header .right li a {
  display: block;
  font-size: 15px;
  color: #363636;
  float: left;
  margin: 0 16px;
}

main {
  padding-top: 50px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

main h1 {
  position: absolute;
  color: #fff;
  font-size: 47px;
  left: 18%;
  top: 43%;
}

main p {
  position: absolute;
  color: #fff;
  font-size: 16px;
  left: 18%;
  top: 54%;
}

main .logo {
  position: absolute;
  width: 87px;
  top: 2%;
  left: 16%;
}

main .login {
  padding: 80px 25px 10px;
  background: #fff;
  position: absolute;
  left: 62%;
  top: 14%;
  text-align: center;
}

main .login h2 {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 40px;
}

main .login h5 {
  font-size: 20px;
  color: #444;
  padding: 68px 0 30px 0;
  line-height: 20px;
}

main .login span {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background: #dfdfdf;
  margin: 0 20px 0 20px;
}

main .login .register {
  display: inline-block;
  width: 194px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 14px;
  color: #fff;
  background: #1429a0;
  border-radius: 30px;
}

main .login div {
  margin-bottom: 20px;
}

main .login .help {
  font-size: 15px;
  color: #1429a0;
  text-decoration: underline;
}

main .login h6 {
  font-weight: normal;
  color: #333;
  line-height: 20px;
  font-size: 15px;
  padding-top: 18px;
}

main .login img {
  width: 72px;
  margin: 0 18px;
}

footer {
  padding: 20px 0;
}

footer p {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;
}

.back {
  display: none;
  text-align: center;
  width: 54px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 999;
  background: #eaeef1;
}

.back i {
  color: #797c8b;
  font-size: 30px;
  line-height: 54px;
}
