header {
    height: 36px;
    background: #f2f2f2;

    .header {
        height: 36px;
        width: 96%;
        margin: 0 auto;

        .shop {
            float: left;
            font-size: 18px;
            line-height: 36px;
            color: black;
        }

        div {
            float: right;
            font-size: 15px;

            .index {
                line-height: 36px;
                color: black;
            }

            i {
                font-size: 15px !important;
                color: black;
                line-height: 36px;
            }
        }
    }

}

nav {
    // height: 62px;
    color: #363636;
    background: #fff;

    .nav {
        height: 64px;
        width: 96%;
        margin: 0 auto;
        border-bottom: 2px solid #e5e5e5;

        li:nth-child(1) {
            margin-left: 0;
        }

        li {
            float: left;
            margin: 0 16px;
            font-size: 15px;
            box-sizing: border-box;
            z-index: 100;
        }

        .logo {
            width: 130px;
            height: 64px;
            padding: 0;
            position: absolute;
            left: 50%;
            margin-left: -65px;
        }

        img {
            display: block;
            width: 100%;
            position: relative;
            top: 21px;
        }

        .left {
            float: left;
            line-height: 64px;
        }

        .right {
            float: right;

            a {
                color: #363636;
                font-size: 15px;
                line-height: 64px;
            }
        }

        i {
            font-size: 15px !important;
            font-weight: bold;
            line-height: 64px;
        }

    }

    .bar {
        width: 100%;
        background: #fff;
        padding: 30px;
        overflow: hidden;
        // border-top: 2px solid #e5e5e5;
        box-sizing: border-box;

        .l {
            float: left;
            width: 50%;
            ;

            ol {
                overflow: hidden;

                li {
                    float: left;
                    width: 100px;
                    padding: 0 23px;
                    text-align: center;

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    p {
                        width: 100px;
                        margin-bottom: 0;
                        margin-top: 12px;
                        font-size: 13px;
                        color: #363636;
                        line-height: 18px;
                    }
                }
            }

        }

        .r {
            float: left;
            width: 40%;
            border-left: 1px solid #e5e5e5;

            dl {
                float: left;
                width: 33%;
                margin-left: 30px;
            }

            dt {
                a {
                    font-size: 15px;
                    color: #363636;
                    line-height: 18px;

                }

                margin-bottom: 18px;
            }

            dd {
                a {
                    color: #5f5f5f;
                    font-size: 13px;

                }

                margin-bottom: 9px;
            }
        }
    }
}




.link {
    .link1 {
        width: 96%;
        margin: 0 auto;
        overflow: hidden;

        .left {
            float: left;
            padding-top: 36px;
            overflow: hidden;
            width: 70%;

            dl {
                float: left;
                width: 33.3%;

                a {
                    color: #333;
                    font-size: 14px;

                    i {
                        font-size: 14px !important;
                        font-weight: bold;
                    }
                }

                dt {
                    font-weight: bold;
                    line-height: 30px;
                }

                dd {
                    line-height: 24px;
                }
            }
        }

        .right {
            padding-top: 24px;
            width: 30%;
            float: right;

            p {
                color: #333;
                font-weight: bold;
                font-size: 14px;
                padding-bottom: 20px;
            }

            div {
                padding-left: 21%;
            }

            i {
                font-size: 40px !important;
                color: #333;
            }
        }
    }

    background: #f5f5f5;

    h6 {
        font-weight: normal;
        clear: both;
        font-size: 14px;
        color: #333;
        padding: 30px 0 28px 0;
    }
}

footer {
    background: #525252;

    .footer {
        padding: 28px 0;
        width: 96%;
        margin: 0 auto;
        overflow: hidden;

        .left {
            float: left;
            width: 60%;

            ul {
                overflow: hidden;

                li {
                    float: left;
                    margin-right: 25px;
                    margin-bottom: 14px;

                    a {
                        color: #fff;
                        font-size: 12px;
                    }
                }
            }

            p {
                font-size: 12px;
                color: #ccc;
                line-height: 14px;
                margin-bottom: 0;
                margin-top: 14px;
            }
        }

        .right {
            float: left;
            width: 40%;

            p {
                width: 280px;
                line-height: 16px;
                font-size: 12px;
                color: #fff;
                padding-bottom: 9px;
            }

            span {
                a:nth-child(1) {
                    margin-left: 0;
                }

                a {
                    color: #fff;
                    font-size: 12px;
                    margin: 0 15px;
                }
            }
        }
    }
}


main {
    overflow: hidden;
    position: relative;

    ul {
        margin-top: 50px;
        width: 100%;
        overflow: hidden;

        li {
            width: 33.33%;
            float: left;
            text-align: center;

            i {
                font-style: normal;
                background: #1428a0;
                width: 36px;
                height: 36px;
                line-height: 36px;
                color: #fff;
                font-family: Tahoma;
                font-weight: bold;
                display: block;
                border-radius: 50%;
                margin: 0 auto 15px auto;
            }

            p {
                color: #999;
            }
        }
    }

    .sambar {
        width: 100%;
        height: 5px;
        background: #eee;
        position: absolute;
        z-index: -1;
        top: 66px;
        left: 0;

        span {
            display: block;
            float: left;
            width: 33.33%;
            height: 100%;
        }
    }

    .null {
        padding: 64px 30px 86px 30px;
        text-align: center;

        i {
            font-size: 110px !important;
            color: #eee
        }

        h3 {
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            margin: 37px 0 30px;
        }

        a {
            background: #1428a0;
            color: #fff;
            display: inline-block;
            width: 270px;
            height: 50px;
            font-size: 24px;
            line-height: 50px;
        }
    }

    .shop{
        padding: 10px 20px;
        display: none;
        .list {
            overflow: hidden;
            table {
                text-align: center;
                width: 100%;
                line-height: 48px;
                thead {
                    width: 100%;
                    background: #eee;
                    tr {
                        td:nth-child(1){
                           width: 5%;
                        }
                        td:nth-child(2){
                            width: 10%;                           
                        }
                        td:nth-child(3){
                            width: 30%;                           
                        }
                        td:nth-child(6){
                            width: 30%;                           
                        }
                    }
                }
                tbody{
                    img{
                        width: 80%;
                    }
                    span{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border: 1px solid #d1d1d1;
                        line-height: 30px;
                        cursor: pointer;
                    }
                }
            }
            .price{
                overflow: hidden;
                height: 100px;
                p{
                    line-height:  100px;
                    float: left;
                }
                .right{
                    float: right;
                    height: 100%;
                    padding-top: 20px;
                    font-size: 24px;
                    .pr,.vip{
                        font-size: 24px;
                        color: #1428a0;
                    }
                }
            }
            .sum{
                height: 50px;
                background: #eee;
                a{
                    line-height: 50px;
                    margin-left: 20px;
                    font-size: 18px;
                    color: #1428a0
                }
                .sumprice{
                    text-align: center;
                    float: right;
                    background: #1428a0;
                    color: #fff;
                    font-weight: bold;
                    width: 300px;
                }
            }
        }
    }
}

.back {
    display: none;
    text-align: center;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 999;
    background: #eaeef1;

    i {
        color: #797c8b;
        font-size: 30px;
        line-height: 54px;
    }
}